absl-py==1.4.0
aiosignal==1.3.1
astor==0.8.1
astpretty==3.0.0
asttokens==2.2.1
attrs==22.2.0
azure-core==1.26.3
azure-identity==1.12.0
azure-storage-blob==12.15.0
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
contourpy==1.0.7
cryptography==40.0.1
cycler==0.11.0
dataclasses-json==0.5.7
distlib==0.3.6
docopt==0.6.2
docstring-parser==0.15
dpu-utils==0.6.1
exceptiongroup==1.1.1
filelock==3.10.7
fonttools==4.39.2
frozenlist==1.3.3
func-timeout==4.3.5
gensim==4.3.1
gevent==22.10.2
gitdb==4.0.10
gitpython==3.1.31
google-auth-oauthlib==0.4.6
google-auth==2.16.3
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.49.1
hityper @ git+https://github.com/multidim-typeinf4py/HiTyper.git@main
huggingface-hub==0.13.3
hypothesis==6.70.1
idna==3.4
intervaltree==3.1.0
isodate==0.6.1
joblib==1.2.0
jsonschema==4.17.3
kiwisolver==1.4.4
levenshtein==0.20.9
libcst @ git+https://github.com/multidim-typeinf4py/LibCST.git@main
libsa4py==0.3.0
markdown==3.4.3
markupsafe==2.1.2
marshmallow-enum==1.5.1
marshmallow==3.19.0
matplotlib==3.7.1
msal-extensions==1.0.0
msal==1.21.0
msgpack==1.0.5
mypy-extensions==1.0.0
mypy==0.991
networkx==3.0
nltk==3.8.1
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
packaging==23.0
pandas-stubs==1.2.0.62
pandas==1.5.2
pandera[mypy]==0.13.4
pillow==9.4.0
platformdirs==3.2.0
portalocker==2.7.0
protobuf==4.22.1
psutil==5.9.4
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycg==0.0.6
pycparser==2.21
pydantic==1.10.7
pygments==2.14.0
pyjwt[crypto]==2.6.0
pyparsing==3.0.9
pyre-check==0.9.18
pyre-extensions==0.0.30
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.2
pywin32==306
pyyaml==6.0
rapidfuzz==2.13.7
ray==2.3.1
regex==2023.3.23
requests-oauthlib==1.3.1
requests==2.28.2
rsa==4.9
scikit-learn==1.2.2
scipy==1.9.3
sentencepiece==0.1.97
setsimilaritysearch==1.0.1
setuptools==67.6.0
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sortedcontainers==2.4.0
tabulate==0.9.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboard==2.12.0
testslide==2.7.1
threadpoolctl==3.1.0
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
torch==1.13.1
tqdm==4.65.0
transformers==4.27.3
typeguard==2.13.3
types-requests==2.28.11.16
types-urllib3==1.26.25.9
typewriter @ git+https://github.com/multidim-typeinf4py/typewriter.git@feature/dltinproj
typing-extensions==4.5.0
typing-inspect==0.8.0
urllib3==1.26.15
virtualenv==20.21.0
werkzeug==2.2.3
wheel==0.40.0
wrapt==1.15.0
zope-event==4.6
zope-interface==6.0
